<div class="bg-red">
    <div class="header container">
        <h1 class="logo"><a href="/2024-LayoutLive-week4/pages/index.html">眼鏡官網</a></h1>
        <ul class="menu">
            <li><a class="color-white" href="/pages/series.html">系列鏡框</a></li>
            <li><a class="color-white" href="/pages/store.html">門市據點</a></li>
            <li><a class="color-white" href="/pages/blog.html">部落格</a></li>
            <li><a class="color-white" href="/pages/questions.html">常見問題</a></li>
        </ul>
    </div>
</div>