.bg-img-header{
	background-image: url(/assets/images/home-header.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.specialRecommendation{
	padding-top: 296px;
	padding-bottom: 296px;
	text-align: end;

	h4{
		font-size: $fz-3;
	}

	h2{
		font-size: $fz-1;
		font-weight: $fw-bold;
		margin-bottom: 4px;
	}

	.button{
		font-size:$fz-5;
		padding: 6px 12px;
	}

}

/* servers */

.servers{
	text-align: center;

	h3{
		margin-bottom: 24px;
	}

	&-item{
		display: flex;
		flex-direction: column;
		align-items: center;

		img{
			margin-bottom: 16px;
		}

		h4{
			margin-bottom: 8px;
		}
	}
}

/* classic */

.classic{
	text-align: center;

	&-item{
		img{
			margin-bottom: 8px;
		}
	} 
}


/* coBranded */

.bg-index{
	background: url(/assets/images/index-bg.png) no-repeat;
	box-sizing: calc(100vw);
	background-position: top center;
}

.coBranded{
	text-align: center;

	&-items{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.mobile{
	display: none;
}

/* customerRecommend */
.customerRecommend{
	text-align: center;

	&-item{
		border: 1px solid $border-color;
		border-radius: 4px;
		box-shadow: 0 2px 6px #00000029;
		overflow: hidden;
	}
}

.customer{
	text-align: left;
	height: calc(25vh);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 16px;

	&-content{
		h6{
			font-size: $fz-6;
			font-weight: 600;
			margin-bottom: 8px;
		}

		p{
			font-size: $fz-6;
		}
	} 
	
	
}

.date{
	font-size: $fz-7;
	color: $date-color;
}

/* contact */
.contact{
	text-align: center;

	&-form{
		width: 50%;
		margin: 0 auto;
		text-align: left;

		p{
			font-size: $fz-5;
			margin-bottom: 24px;
		}

		label{
			margin-bottom: 8px;
			font-size:$fz-6;
		}

		textarea{
			height: calc(12vh);
		}
	}
}

.inputBox{
	width: 100%;
	margin-bottom: 16px;
	font-size:$fz-6;
	padding: 6px 12px;
	background-color: $light-color;

	input{
		border: #000000 1px solid;
	}

	&-submit{

		width: 100%;
		text-align: center;

		input{
			text-align: center;
			border:0;
			padding: 16px 13.5%;
			font-weight: $fw-bold;

			&:hover{
				background-color: $dark-color;
			}
		}

	}
	
	
	
}

@media (max-width:1300px) {

	.servers{

		&-items{
			flex-wrap: wrap;
		}

		&-item{
			width: 45%;
		}
	}

	.customerRecommend{

		&-items{
			flex-wrap: wrap;
		}

		&-item{
			width: 45%;
		}

	}
	
}

@media (max-width:1060px) {
	.classic{

		&-items{
			flex-direction: column;
		}

		&-item{
			width: 43.75%;
		}

	}
}


@media (max-width:800px) {

	.bg-img-header{
		background-image: url(/assets/images/home-header-sm.png);
	}

	.coBranded-items{
		flex-direction: column;
		gap:24px;
	}

	.contact-form{
		width: 75%;
	}

}

@media (max-width:710px) {

	.specialRecommendation{
		padding: 144px 0;

		h4{
			font-size: $fz-6;
		}

		h2{
			font-size: $fz-4;
			margin-bottom: 8px;
		}
	}
	
	.servers{

		&-item{
			width: 100%;

			p{
				font-size:$fz-6;
			}
		}

	}

	.classic{

		&-item{
			width: 100%;
		}
	}

	.mobile{
		display: block;
	}

	.pc{
		display: none;
	}

	.customerRecommend{

		&-item{
			width: 100%;
		}

		&-items{
			gap:16px;
		}
	}

	.contact{

		&-form{
			width: 100%;

			p{
				font-size: $fz-6;
			}

			textarea{
				height: calc(16vh);
			}
		}
	}

	.inputBox{
		&-submit{

			input{
				width: 100%;
			}
		}
	}
	
}