.bg-img-header{
	background-image: url(/assets/images/home-header.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.specialRecommendation{
	padding: 296px 0;
	text-align: end;
}

.specialRecommendation h4{
	font-size: 36px;
}

.specialRecommendation h2{
	font-size: 64px;
	font-weight: bold;
	margin-bottom: 4px;
}

.specialRecommendation .button{
	font-size: 20px;
	padding: 6px 12px;
}

.specialRecommendation .button:hover{
	background-color: #650300;
}

/* servers */

.servers{
	text-align: center;
	padding: 80px 0;
}

.servers-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

.servers h3{
	margin-bottom: 24px;
}

.servers-item{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.servers-item img{
	margin-bottom: 16px;
}

.servers-item h4{
	margin-bottom: 8px;
}

/* classic */

.classic{
	padding: 80px 0;
	text-align: center;
}

.classic h3{
	margin-bottom: 48px;
}

.classic-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

.classic-item img{
	margin-bottom: 8px;
}

/* coBranded */

.bg-index{
	background: url(/assets/images/index-bg.png) no-repeat;
	box-sizing: calc(100vw);
	background-position: top center;
}

.coBranded{
	padding: 80px 0;
	text-align: center;
}

.coBranded h3{
	margin-bottom: 48px;
}

.coBranded-items{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile{
	display: none;
}

/* customerRecommend */
.customerRecommend{
	text-align: center;
	padding: 80px 0;
}

.customerRecommend h3{
	margin-bottom: 48px;
}

.customerRecommend-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:24px;
}

.customerRecpmmend-item{
	border: 1px solid #DEE2E6;
	border-radius: 4px;
	box-shadow: 0 2px 6px #00000029;
}

.customer{
	text-align: left;
	height: calc(25vh);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 16px;
}

.customer .customer-content h6{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}

.customer .customer-content p{
	font-size: 16px;
}

.date{
	font-size: 14px;
	color: #707070;
}

/* contact */
.contact{
	padding: 80px 0;
	text-align: center;
}

.contact h3{
	margin-bottom: 48px;
}

.contact-form{
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

.contact-form p{
	font-size: 20px;
	margin-bottom: 24px;
}

.contact-form label{
	margin-bottom: 8px;
	font-size: 16px;
}

.inputBox{
	width: 100%;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 6px 12px;
	background-color: #FBF2F2;
}

.inputBox input{
	border: #000000 1px solid;
	
}

.contact-form textarea{
	height: calc(12vh);
}

.inputBox-agree{
	margin-bottom: 48px;
}

.inputBox-submit input{
	text-align: center;
	border:0;
	padding: 16px 13.5%;
	font-weight: bold;
}

.inputBox-submit input:hover{
	background-color: #650300;
}

.inputBox-submit{
	width: 100%;
	text-align: center;
}

@media (max-width:1300px) {

	.servers-items{
		flex-wrap: wrap;
	}
	.servers-item{
		width: 45%;
	}

	.customerRecommend-items{
		flex-wrap: wrap;
	}

	.customerRecpmmend-item{
		width: 45%;
	}
	
}

@media (max-width:1060px) {
	.classic-items{
		flex-direction: column;
	}
	
	.classic-item{
		width: 43.75%;
	}
}


@media (max-width:800px) {

	.bg-img-header{
		background-image: url(/assets/images/home-header-sm.png);
	}

	.coBranded-items{
		flex-direction: column;
		gap:24px;
	}

	.contact-form{
		width: 75%;
	}

}

@media (max-width:710px) {

	.specialRecommendation{
		padding: 144px 0;
	}
	
	.specialRecommendation h4{
		font-size: 16px;
	}
	
	.specialRecommendation h2{
		font-size: 24px;
		margin-bottom: 8px;
	}

	.servers-item{
		width: 100%;
	}

	.servers-item p{
		font-size: 16px;
	}
	
	.servers{
		padding: 40px 0;
	}

	.classic-item{
		width: 100%;
	}

	.classic{
		padding: 40px 0;
	}

	.classic h3{
		margin-bottom: 24px;
	}
	.coBranded{
		padding: 40px 0;
	}
	.mobile{
		display: block;
	}

	.pc{
		display: none;
	}
	.coBranded h3{
		margin-bottom: 24px;
	}

	.customerRecommend{
		padding: 40px 0;
	}

	.customerRecommend h3{
		margin-bottom: 24px;
	}

	.customerRecpmmend-item{
		width: 100%;
	}

	.customerRecommend-items{
		gap:16px;
	}

	.contact{
		padding: 40px 0;
	}

	.contact h3{
		margin-bottom: 24px;
	}

	.contact-form{
		width: 100%;
	}

	.contact-form p{
		font-size: 16px;
	}

	.inputBox-submit input{
		width: 100%;
	}

	.inputBox-agree{
		margin-bottom: 24px;
	}

	.contact-form textarea{
		height: calc(16vh);
	}
	
}