//color

$primary-color:#AA0601;
$dark-color:#650300;
$light-color:#FBF2F2;
$white-color:#FFFFFF;
$date-color:#707070;
$border-color:#DEE2E6;

//font-size
$fz-1:64px;
$fz-2:48px;
$fz-3:36px;
$fz-4:24px;
$fz-5:20px;
$fz-6:16px;
$fz-7:14px;

//font-weight
$fw-regular:400;
$fw-medium:500;
$fw-bold:700;
$fw-black:900;